* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171923;
  color: #F7FAFC;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main div {
  max-width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main div strong {
  font-size: 150px;
}

